body {
    background-color: var(--background-color-box);
}
.bg-white {
    background-color: #fff;
}
.container {
    width: calc(100% - 2rem);
    margin: 1rem auto;
}
.row {
    display: flex; /* Xuống hàng */
    flex-wrap: wrap; /* Đầy quá tự xuống hàng */
}
.col {
    width: 100%;
}
.item {
    margin: 1rem;
    padding: .5rem;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
}
#san-pham img{
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.content {
    text-align: center;
}
a {
    text-decoration: none;
    color: var(--color); /* color: #2c2e53*/
}
#san-pham p del {
    color: var(--gray);
}
#san-pham p {
    margin: .5rem 0;
}
#san-pham h3 {
    margin-top: 1rem;
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .container {
        margin: 1rem auto;
    }
    .col {
        width: 50%;
    }
    #san-pham img {
        height: 15rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .container {
        margin: 1rem auto;
    }
    .col {
        width: 50%;
    }
    #san-pham img {
        height: 15rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) { 
    .container {
        margin: 1rem auto; 
    }
    .col {
        width: 33.3333333%;
    }
    #san-pham img {
        height: 15rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) { 
    .container {
        margin: 1rem 10%; 
    }
    .col {
        width: 33.3333333%;
    }
    #san-pham img {
        height: 17rem;
    }
}

@media (min-width: 1400px) and (max-width: 1599.98px) { 
    .container {
        margin: 1rem auto; 
        width: 1360px;
    }
    .col {
        width: 25%;
    }
    #san-pham img {
        height: 15rem;
    }
}

@media (min-width: 1600px) and (max-width: 1919.98px) { 
    .container {
        margin: 1rem 10%; 
        width: 80%;
    }
    .col {
        width: 20%;
    }
    #san-pham img {
        height: 20rem;
    }
}